/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #F5F2EC;
  color: #0A3503;
}

/* HEADER */
header {
  background-color: #0A3503;
  color: #F5F2EC;
  padding: 20px 40px;
}

header h2 {
  font-weight: 600;
}

nav {
  margin-top: 10px;
}

nav a {
  color: #94C570;
  text-decoration: none;
  font-weight: 500;
  margin-right: 20px;
}

nav a:hover {
  color: #F5F2EC;
}

/* CONTEÚDO */
main {
  max-width: 1200px;
  margin: auto;
}
