/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F5F2EC;
  color: #0A3503;
  font-family: "Segoe UI", sans-serif;
}

/* HEADER */
.header {
  background-color: #0A3503;
  padding: 20px 40px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  height: 50px;
}

.site-title {
  color: #F5F2EC;
  font-size: 1.3rem;
}

nav {
  display: flex;
  gap: 30px;
}

nav a {
  color: #94C570;
  text-decoration: none;
  font-size: 1rem;
  transition: 0.2s ease;
}

nav a:hover {
  color: #F5F2EC;
}

/* MAIN */
main {
  max-width: 1200px;
  margin: auto;
}
